@* 
This CameraView page shows the building layout if you were looking at it from the top down.
It provides the user with an easy way to tell what portion of the building have alarms that are going off
 *@
@page
@using buildingSystem
@model CameraViewControler
@{
    ViewData["Title"] = "Camera View Page";
    @* Notes *@
    // This website allowed me to draw cordanants over the blueprints
    // https://imagemap.org/
    // This is the source of where I found the blueprint image
    // https://www.edrawsoft.com/templates/pdf/mall-floor-plan.pdf

    // This was my source of being able to figure out mixing AJAX and C# throughout the site
    // it was a technique used heavily so I linked it
    // https://www.youtube.com/watch?v=QeRszt0OKUw

}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/CameraView.js"></script>

<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="~/css/CameraView.css" />
    @* Overall container for the header to the start of the map *@
    <div class="text-center">
        <h1 class="display-4">Building View</h1>
        @* Display the floor number *@
        <p>Floor 1</p>
            @* Test container div *@
            <div>
                @* Senarios Container *@
                <div class="SenarioContainer" onclick="displaySenarios()">
                    <h1>Click to Display Senarios(Only On test version)</h1>
                </div>

                @* Container for hidden test senarios *@
                <div style="display: none;" id="testSenarios">
                    @* Sensor test cases *@
                    <div class="senarioBlock">
                        <h3>Sensor Related tests</h3>
                        @* Activate Fire by room Number button *@
                        <div>
                            <input type="number" id="ActivateSensor" min="1" max="41"></input>
                            <button onclick="ActivateSensorAjax()">Activate fire Sensor in Room #</button>
                        </div>
                        @* Activate Random Fire sensor button *@
                        <div>
                            <button onclick="ActivateRandomSensors()">Activate Random Fire Sensors</button>
                        </div>
                        @* Activate Random Gas sensor button *@
                        <div>
                            <button onclick="ActivateRandomSensors(true)">Activate Random Gas Sensors</button>
                        </div>
                        @* Deactivate All sensors button *@
                        <div>
                            <button onclick="DeactivateAllSensors()">Deactivate All Sensors</button>
                        </div>
                    </div>

                    @* Person Related tests *@
                    <div class="senarioBlock">
                        <h3>Person Related tests</h3>
                        @* Add person to room button *@
                        <input type="number" id="AddPersonToRoom" min="1" max="41"></input>
                        <button onclick="addPersonToRoomAJAX()">Add person into room #</button>
                        @* Remove person from room button *@
                        <input type="number" id="RemovePersonToRoom" min="1" max="41"></input>
                        <button onclick="removePersonToRoomAJAX()">Remove person in room #</button>
                    </div>

                    @* Sound settings *@
                    <div class="senarioBlock">
                        <h3>Sound related</h3>
                        <p>Note that muting would not be avalible in actual system</p>
                        @* This sound on when it says sound on will determin if play alarm runs or not *@
                        <p id="soundStatus">SoundOn</p>
                        @* mute and unmute button*@
                        <button onclick="muteOrUnmute()">Mute and unmute</button>
                        @* Play sound button *@
                        <button onclick="playAlarm()">Test the audible sound</button>
                    </div>
                </div>

                @* Add sensors button *@
                <div>
                    <input type="number" id="addSensorToRoom" min="1" max="41"></input>
                    <button onclick="addSensors(true)">Add Sensor to room Room #</button>
                </div>

                @* Remove sensors button *@
                <div>
                    <input type="number" id="removeSensorInRoom" min="1" max="41"></input>
                    <button onclick="removeSensors(true)">Remove sensor in Room #</button>
                </div>

                @* Add all sensors button *@
                <div>
                    <button onclick="addAllSensors(3)">Add all Sensors</button>
                </div>

                @* Remove all sensors button *@
                <div>
                    <button onclick="removeAllSensors(4)">Remove all Sensors</button>
                </div>
            </div>
    </div>


    @*Hidden audio container, this is the element that is toggled on and off*@
    <source src="~/img/Alarm.mp3?v=2" type="audio/mpeg">

    @* Map area container *@
    <div style="text-align: center;">
        @* This div physically holds the map and is where the divs are actually appended to *@
        <div id="containerForRoom" class="containerForRoom" style="display:inline-block">
            <img src='~/img/mall-floor-plan.jpg?v=2'  usemap="#image_map" style="display: inline-block;">
        </div>
        
        <map name="image_map">
            @*Sensor really referes to the room number. So sensor-3 means room 3. Note that not all rooms have sensors*@
            @* Each area is a area on the jpg that has specific cordanants and represents an object like a sensor, fire alarm ext *@
            @* SENSORS *@
            <area id="sensor-1"   coords="257,73,15" shape="circle">
            <area id="sensor-3"   coords="534,255,13" shape="circle">
            <area id="sensor-4"   coords="728,242,13" shape="circle">
            <area id="sensor-5"   coords="935,236,14" shape="circle">
            <area id="sensor-6"   coords="126,202,18" shape="circle">
            <area id="sensor-7"   coords="135,333,18" shape="circle">
            <area id="sensor-8"   coords="127,511,12" shape="circle">
            <area id="sensor-9"   coords="438,583,17" shape="circle">
            <area id="sensor-10"  coords="732,572,15" shape="circle">
            <area id="sensor-11"  coords="850,519,14" shape="circle">
            <area id="sensor-12"  coords="1063,539,11" shape="circle">
            <area id="sensor-13"  coords="139,709,15" shape="circle">
            <area id="sensor-14"  coords="431,760,18" shape="circle">
            <area id="sensor-15"  coords="678,635,16" shape="circle">
            <area id="sensor-16"  coords="846,690,15" shape="circle">
            <area id="sensor-17"  coords="1056,662,15" shape="circle">
            <area id="sensor-18"  coords="135,881,15" shape="circle">
            <area id="sensor-19"  coords="344,986,17" shape="circle">
            <area id="sensor-20"  coords="446,986,13" shape="circle">
            <area id="sensor-21"  coords="675,953,17" shape="circle">
            <area id="sensor-22"  coords="811,969,14" shape="circle">
            <area id="sensor-23"  coords="1061,814,15" shape="circle">
            <area id="sensor-24"  coords="1064,942,15" shape="circle">
            <area id="sensor-25"  coords="141,1060,17" shape="circle">
            <area id="sensor-26"  coords="351,1091,15" shape="circle">
            <area id="sensor-27"  coords="455,1094,17" shape="circle">
            <area id="sensor-28"  coords="653,1142,17" shape="circle">
            <area id="sensor-29"  coords="769,1145,16" shape="circle">
            <area id="sensor-30"  coords="866,1143,15" shape="circle">
            <area id="sensor-31"  coords="1063,1079,17" shape="circle">
            <area id="sensor-32"  coords="142,1224,15" shape="circle">
            <area id="sensor-33"  coords="345,1187,15" shape="circle">
            <area id="sensor-34"  coords="452,1191,16" shape="circle">
            <area id="sensor-35"  coords="345,1277,13" shape="circle">
            <area id="sensor-36"  coords="454,1280,15" shape="circle">
            <area id="sensor-37"  coords="1055,1216,15" shape="circle">
            <area id="sensor-39"  coords="1063,1355,15" shape="circle">
            <area id="sensor-40"  coords="255,1517,18" shape="circle">
            <area id="sensor-41"  coords="472,1487,19" shape="circle">

            @* ALARMS *@
            <area id="alarm-1" coords="201,50,236,92" shape="rect">
            <area id="alarm-3" coords="442,146,472,187" shape="rect">
            <area id="alarm-4" coords="593,220,623,258" shape="rect">
            <area id="alarm-5" coords="793,219,825,254" shape="rect">
            <area id="alarm-6" coords="38,184,64,224" shape="rect">
            <area id="alarm-7"  coords="51,320,82,360" shape="rect">
            <area id="alarm-8"  coords="45,497,73,537" shape="rect"> 
            <area id="alarm-9"   coords="274,478,302,518" shape="rect">
            <area id="alarm-10"   coords="599,498,625,537" shape="rect">
            <area id="alarm-11"   coords="792,500,820,538" shape="rect">
            <area id="alarm-12"   coords="992,513,1021,551" shape="rect">
            <area id="alarm-13"   coords="58,686,85,726" shape="rect">
            <area id="alarm-14"   coords="271,740,301,782" shape="rect">
            <area id="alarm-15"   coords="603,618,630,657" shape="rect">
            <area id="alarm-16"   coords="801,638,824,673" shape="rect">
            <area id="alarm-17"   coords="995,646,1024,685" shape="rect">
            <area id="alarm-23"   coords="988,786,1017,825" shape="rect">
            <area id="alarm-18"  coords="51,859,81,902" shape="rect">
            <area id="alarm-19"   coords="278,971,302,1010" shape="rect">
            <area id="alarm-20"   coords="385,971,411,1008" shape="rect">
            <area id="alarm-21"   coords="619,939,647,974" shape="rect">
            <area id="alarm-22"   coords="794,906,821,947" shape="rect">
            <area id="alarm-24"   coords="991,932,1021,973" shape="rect">
            <area id="alarm-31"  coords="1001,1062,1029,1099" shape="rect">
            <area id="alarm-30"  coords="805,1130,831,1167" shape="rect">
            <area id="alarm-37"   coords="995,1197,1021,1236" shape="rect">
            <area id="alarm-39"   coords="991,1340,1021,1374" shape="rect">
            <area id="alarm-29"  coords="705,1127,738,1169" shape="rect">
            <area id="alarm-28"   coords="589,1122,623,1163" shape="rect">
            <area id="alarm-25"   coords="48,1044,81,1084" shape="rect">
            <area id="alarm-26"  coords="283,1073,311,1109" shape="rect">
            <area id="alarm-27"   coords="377,1080,407,1116" shape="rect">
            <area id="alarm-32"   coords="53,1213,82,1254" shape="rect">
            <area id="alarm-33"   coords="277,1169,305,1207" shape="rect">
            <area id="alarm-34"   coords="379,1171,408,1213" shape="rect">
            <area id="alarm-35"  coords="280,1260,302,1296" shape="rect">
            <area id="alarm-36"  coords="385,1261,404,1300" shape="rect">
            <area id="alarm-40"  coords="186,1503,213,1540" shape="rect">
            <area id="alarm-41"   coords="399,1466,426,1500" shape="rect">

            @* SPRINKLERS *@
            <area id="sprinkler-1"  coords="227,102,272,143" shape="rect">
            <area id="sprinkler-3"   coords="441,237,483,279" shape="rect">
            <area id="sprinkler-4"   coords="580,271,625,310" shape="rect">
            <area id="sprinkler-5"   coords="796,271,834,311" shape="rect">
            <area id="sprinkler-6"   coords="34,250,79,290" shape="rect">
            <area id="sprinkler-7"  coords="34,404,82,444" shape="rect">
            <area id="sprinkler-8"   coords="29,609,76,653" shape="rect">
            <area id="sprinkler-9"   coords="272,540,315,585" shape="rect">
            <area id="sprinkler-10"   coords="592,560,638,603" shape="rect">
            <area id="sprinkler-11"   coords="841,558,880,601" shape="rect">
            <area id="sprinkler-12"   coords="1033,586,1077,628" shape="rect">
            <area id="sprinkler-13"   coords="39,783,81,824" shape="rect">
            <area id="sprinkler-14"   coords="256,833,301,876" shape="rect">
            <area id="sprinkler-15"   coords="611,770,655,810" shape="rect">
            <area id="sprinkler-16"   coords="806,748,854,790" shape="rect">
            <area id="sprinkler-17"   coords="1029,715,1077,758" shape="rect">
            <area id="sprinkler-23"   coords="1035,868,1078,910" shape="rect">
            <area id="sprinkler-24"   coords="1033,1006,1081,1048" shape="rect">
            <area id="sprinkler-22"  coords="799,1071,847,1112" shape="rect">
            <area id="sprinkler-21"  coords="613,1001,660,1040" shape="rect">
            <area id="sprinkler-20"   coords="436,1022,479,1058" shape="rect">
            <area id="sprinkler-18"   coords="41,970,81,1011" shape="rect">
            <area id="sprinkler-19"   coords="323,1023,367,1059" shape="rect">
            <area id="sprinkler-25"   coords="33,1131,79,1169" shape="rect">
            <area id="sprinkler-26"   coords="324,1125,365,1160" shape="rect">
            <area id="sprinkler-27"   coords="436,1122,480,1158" shape="rect">
            <area id="sprinkler-32"   coords="44,1293,87,1334" shape="rect">
            <area id="sprinkler-33"   coords="323,1217,365,1250" shape="rect">
            <area id="sprinkler-34"  coords="432,1219,474,1252" shape="rect">
            <area id="sprinkler-36"   coords="430,1307,471,1337" shape="rect">
            <area id="sprinkler-35"   coords="327,1302,365,1335" shape="rect">
            <area id="sprinkler-28"   coords="633,1181,679,1214" shape="rect">
            <area id="sprinkler-29"   coords="744,1184,788,1221" shape="rect">
            <area id="sprinkler-30"   coords="845,1183,879,1220" shape="rect">
            <area id="sprinkler-31"   coords="1031,1132,1078,1177" shape="rect">
            <area id="sprinkler-37"   coords="1032,1272,1076,1315" shape="rect">
            <area id="sprinkler-39"   coords="1038,1412,1075,1452" shape="rect">
            <area id="sprinkler-40"   coords="129,1490,175,1529" shape="rect">
            <area id="sprinkler-41"   coords="395,1520,436,1565" shape="rect">

            @* Directions *@
            <area id="direction-1"  coords="159,111,211,136" shape="rect">
            <area id="direction-3"  coords="502,148,558,172" shape="rect">
            <area id="direction-4"   coords="701,271,754,295" shape="rect">
            <area id="direction-5"   coords="910,274,961,294" shape="rect">
            <area id="direction-6"   coords="106,268,158,288" shape="rect">
            <area id="direction-7"   coords="109,424,161,444" shape="rect">
            <area id="direction-9"  coords="407,491,459,510" shape="rect">
            <area id="direction-10"   coords="720,517,769,538" shape="rect">
            <area id="direction-11"   coords="790,578,841,597" shape="rect">
            <area id="direction-12"   coords="971,605,1022,621" shape="rect">
            <area id="direction-8"  coords="109,620,156,641" shape="rect">
            <area id="direction-15"   coords="719,634,768,655" shape="rect">
            <area id="direction-13"   coords="109,795,162,813" shape="rect">
            <area id="direction-14"   coords="393,836,443,855" shape="rect">
            <area id="direction-21"   coords="708,942,756,963" shape="rect">
            <area id="direction-22"   coords="793,1025,847,1044" shape="rect">
            <area id="direction-16"   coords="805,809,857,824" shape="rect">
            <area id="direction-17"  coords="967,737,1018,753" shape="rect">
            <area id="direction-23"   coords="970,876,1024,900" shape="rect">
            <area id="direction-24"  coords="969,1016,1024,1036" shape="rect">
            <area id="direction-31"  coords="972,1152,1026,1167" shape="rect">
            <area id="direction-37"   coords="969,1285,1022,1305" shape="rect">
            <area id="direction-30"   coords="801,1207,845,1230" shape="rect">
            <area id="direction-29"  coords="687,1198,736,1216" shape="rect">
            <area id="direction-28"   coords="571,1194,619,1214" shape="rect">
            <area id="direction-18"   coords="111,989,159,1012" shape="rect">
            <area id="direction-19"   coords="262,1041,313,1059" shape="rect">
            <area id="direction-20"  coords="379,1038,429,1059" shape="rect">
            <area id="direction-26"  coords="268,1136,318,1158" shape="rect">
            <area id="direction-27"   coords="381,1136,431,1157" shape="rect">
            <area id="direction-33"   coords="261,1232,311,1254" shape="rect">
            <area id="direction-34"   coords="375,1226,427,1247" shape="rect">
            <area id="direction-35"   coords="276,1313,327,1335" shape="rect">
            <area id="direction-36"   coords="376,1321,426,1340" shape="rect">
            <area id="direction-25"  coords="103,1154,154,1173" shape="rect">
            <area id="direction-32"  coords="106,1312,162,1332" shape="rect">
            <area id="direction-40"  coords="222,1567,269,1588" shape="rect">
            <area id="direction-41"   coords="446,1535,497,1556" shape="rect">
            <area id="direction-39"  coords="967,1437,1014,1454" shape="rect">

            @* DOORS note that data-functionParameters are how I store information for each door *@
            @* Also the the id door-9-2 means the door 2 in room 9. also note that each doors direction can either be left or up *@
            <area id="door-1-1"  data-functionParameters="1,1,'left'"  coords="213,164,272,182" shape="rect">
            <area id="door-6-1"  data-functionParameters="6,1,'up'"   coords="179,217,198,268" shape="rect">
            <area id="door-3-1"  data-functionParameters="3,1,'left'"    coords="456,315,509,328" shape="rect">
            <area id="door-4-1"  data-functionParameters="4,1,'left'"    coords="648,314,702,329" shape="rect">
            <area id="door-5-1"  data-functionParameters="5,1,'left'"    coords="850,313,906,333" shape="rect">
            <area id="door-7-1"   data-functionParameters="7,1,'up'"   coords="183,356,196,412" shape="rect">
            <area id="door-8-1"   data-functionParameters="8,1,'up'"    coords="180,553,196,605" shape="rect">
            <area id="door-9-1"  data-functionParameters="9,1,'left'"   coords="325,639,386,657" shape="rect">
            <area id="door-9-2"  data-functionParameters="9,2,'up'"   coords="495,534,507,589" shape="rect">
            <area id="door-10-1"    data-functionParameters="10,1,'left'"   coords="651,482,708,500" shape="rect">
            <area id="door-11-1"    data-functionParameters="11,1,'up'"   coords="889,518,899,573" shape="rect">
            <area id="door-12-1"    data-functionParameters="12,1,'up'"   coords="953,544,964,591" shape="rect">
            <area id="door-13-1"    data-functionParameters="13,1,'up'"   coords="186,730,194,784" shape="rect">
            <area id="door-14-2"    data-functionParameters="14,2,'up'"   coords="494,788,504,840" shape="rect">
            <area id="door-15-1"    data-functionParameters="15,1,'up'"   coords="575,690,584,745" shape="rect">
            <area id="door-15-2"   data-functionParameters="15,2,'left'"    coords="661,832,716,842" shape="rect">
            <area id="door-16-2"  data-functionParameters="16,2,'up'"   coords="889,755,897,810" shape="rect">
            <area id="door-16-1"   data-functionParameters="16,1,'up'"   coords="885,643,898,696" shape="rect">
            <area id="door-17-1"   data-functionParameters="17,1,'up'"   coords="954,669,961,725" shape="rect">
            <area id="door-23-1"   data-functionParameters="23,1,'up'"   coords="955,815,962,867" shape="rect">
            <area id="door-22-1"   data-functionParameters="22,1,'up'"   coords="887,920,895,972" shape="rect">
            <area id="door-24-1"  data-functionParameters="24,1,'up'"    coords="953,952,962,1007" shape="rect">
            <area id="door-21-2"  data-functionParameters="21,2,'left'"    coords="660,887,713,897" shape="rect">
            <area id="door-21-1"   data-functionParameters="21,1,'up'"   coords="573,983,578,1037" shape="rect">
            <area id="door-18-1"  data-functionParameters="18,1,'up'"    coords="187,913,196,967" shape="rect">
            <area id="door-25-1"   data-functionParameters="25,1,'up'"   coords="185,1100,196,1150" shape="rect">
            <area id="door-26-1"   data-functionParameters="26,1,'up'"  coords="238,1090,256,1142" shape="rect">
            <area id="door-32-1"   data-functionParameters="32,1,'up'"   coords="184,1248,197,1305" shape="rect">
            <area id="door-40-1"   data-functionParameters="40,1,'up'"   coords="305,1512,315,1563" shape="rect">
            <area id="door-291-1"  data-functionParameters=""    coords="322,1606,373,1615" shape="rect">
            <area id="door-41-1"  data-functionParameters="41,1,'left'"    coords="438,1432,492,1442" shape="rect">
            <area id="door-311-1"  data-functionParameters=""    coords="746,1603,799,1617" shape="rect">
            <area id="door-39-1"  data-functionParameters="39,1,'up'"    coords="953,1360,963,1411" shape="rect">
            <area id="door-37-1"   data-functionParameters="37,1,'up'"   coords="951,1231,963,1281" shape="rect">
            <area id="door-31-1"   data-functionParameters="31,1,'up'"   coords="952,1098,963,1148" shape="rect">
            <area id="door-22-2"  data-functionParameters="22,2,'up'"    coords="886,1032,895,1091" shape="rect">
            <area id="door-14-1"  data-functionParameters="14,1,'left'"    coords="331,901,389,911" shape="rect">
            <area id="door-36-1"  data-functionParameters="36,1,'up'"    coords="494,1272,502,1325" shape="rect">
            <area id="door-35-1"  data-functionParameters="35,1,'up'"    coords="244,1270,255,1324" shape="rect">
            <area id="door-33-1"  data-functionParameters="33,1,'up'"    coords="243,1183,255,1236" shape="rect">
            <area id="door-34-1"   data-functionParameters="34,1,'up'"   coords="494,1183,503,1235" shape="rect">
            <area id="door-27-1"   data-functionParameters="27,1,'up'"   coords="494,1092,505,1147" shape="rect">
            <area id="door-20-1"  data-functionParameters="20,1,'up'"    coords="494,984,504,1038" shape="rect">
            <area id="door-19-1" data-functionParameters="19,1,'up'"    coords="244,986,255,1035" shape="rect">
            <area id="door-28-1"  data-functionParameters="28,1,'left'"   coords="605,1231,659,1242" shape="rect">
            <area id="door-29-1"  data-functionParameters="29,1,'left'"  coords="700,1232,757,1243" shape="rect">
            <area id="door-30-1"  data-functionParameters="30,1,'up'"   coords="884,1155,897,1209" shape="rect">
        </map>

        @* Ledgend container *@
        <div class="Ledgend">
            <h1>Page Ledgend</h1>
            <h3>This is to help understand the room states</h3>
            <h3>Not this is usually handeled automatically</h3>

            @* Add remove sensors *@
            <div>
                <button onclick="drawWhiteOverSensor('tutorial')">Remove Sensor</button>
                <button onclick="removeWhiteOverSensor('tutorial')">Add Sensor</button>
            </div>

            @* Activate deactivate sensors *@
            <div>
                <button onclick="activateSesor('tutorial')">Activate Sensor</button>
                <button onclick="deactivateSensor('tutorial')">Deactivate Sensor</button>
            </div>

            @* Activate deactivate alarms *@
            <div>
                <button onclick="activateAlarm('tutorial')">Activate Alarm</button>
                <button onclick="deactivateAlarms('tutorial')">Deactivate Alarm</button>
            </div>

            @* Activate deactivate sprinkler *@
            <div>
                <button onclick="activateSprinkler('tutorial')">Activate Sprinkler</button>
                <button onclick="deactivateSprinkler('tutorial')">Deactivate Sprinkler</button>
            </div>

            @* Activate deactivate direction indicators *@
            <div>
                <button onclick="activateDirection('tutorial')">Activate Direction Indicator</button>
                <button onclick="deactivateDirection('tutorial')">Deactivate Direction Indicator</button>
            </div>

            @* Activate deactivate doors *@
            <div>
                <button onclick="activateDoors('tutorial',1,'left')">Open Doors</button>
                <button onclick="deactivateDoors('tutorial')">Close Doors</button>
            </div>

            @* This tutorial building layout works exactly like the real one but its just smaller *@
            <div id="containerForRoom2" class="containerForRoom" style="display:inline-block">
                @* The containerForRoom2 is where the drawings end up *@
                <img src="~/img/ledgendPhoto.jpg?v=2" usemap="#image_map">
            </div>
            @* Image map area *@
            <map name="image_map">
                <area id="sensor-tutorial" coords="194,119,31" shape="circle">
                <area id="direction-tutorial" coords="140,211,243,252" shape="rect">
                <area id="alarm-tutorial" coords="45,68,110,145" shape="rect">
                <area id="sprinkler-tutorial" coords="37,188,125,266" shape="rect">
                <area id="door-tutorial-1" data-functionParameters="'tutorial',1,'left'"  coords="116,-1,228,16" shape="rect">
            </map>
        </div>
    </div>
</head>