@page "/Index"
@model Index
@{
    ViewData["Title"] = "Home page";
}

<style>
    .room-column {
        padding: .6em .6em 0em .6em;
    }

    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: hidden;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.6);
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

    .room-button {
        display: block;
        padding: .2em;
        text-decoration: none;
        margin: .2em;
        border-radius: 10%;
        border: 1px solid green;
        color: white;
        background-color: green;
        text-align: center;
    }

    .zone {
        margin-top: 4.5em;
    }

</style>

<div class="modal" tabindex="-1" role="dialog" id="roomModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Room Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="roomDetails">Room details will be displayed here.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <div class="d-flex flex-column justify-content-between align-items-stretch h-100 home">
        <div class="row flex-grow-1">
            <div class="col-md-4 d-flex flex-column">
                <h3 class="text-center">Room Statuses</h3>
                <div id="roomStatuses" class="row"></div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Clock-in Status</h3>
                    <button class="w-100">Clock In</button>
                </div>
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Notification</h3>
                    <br>
                    <p>This is a notification.</p>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Other Information</h3>
                    <br>
                    <p>On-duty Supervisor:</p>
                    <p>On-call Operator:</p>
                </div>
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Building Control System</h3>
                    <button onclick="policeClick()" class="custom-btn w-75">Call Police</button>
                    <button onclick="fireDepartmentClick()" class="custom-btn w-75">Call Fire Department</button>
                    <button onclick="" class="custom-btn w-75">Disable Alarm</button>
                    <button onclick="" class="custom-btn w-75">Lock Door</button>
                    <button onclick="soundAlarmClick()" class="custom-btn w-75">Sound Alarm & Evauate Site</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener("DOMContentLoaded", function () {
        const totalRooms = 40;
        const zones = 4;
        const roomsPerZone = Math.ceil(totalRooms / zones);
        let roomStatusesHtml = '';

        for (let z = 1; z <= zones; z++) {
            roomStatusesHtml += `<div class="col-md-3 zone"><h4>Zone ${z}</h4>`;
            for (let i = 1; i <= roomsPerZone; i++) {
                const roomNumber = (z - 1) * roomsPerZone + i;
                if (roomNumber <= totalRooms) {
                    roomStatusesHtml += `<a onclick="roomClick(${roomNumber})" class="room-button">Room ${roomNumber}</a>`;
                }
            }
            roomStatusesHtml += '</div>';
        }

        document.getElementById("roomStatuses").innerHTML = roomStatusesHtml;
    });


    function soundAlarmClick() {
        alert("Evaccuate the site");
    }

    function policeClick() {
       alert("Police Department Alerted");
    }

    function fireDepartmentClick() {
        alert("Fire Department Alerted");
    }

    function roomClick(roomNumber) {
        // Your logic to handle the click event for each room
        console.log("Room clicked:", roomNumber);

        // Update the modal content with the room number
        document.getElementById("roomDetails").innerHTML = "Details for Room " + roomNumber;

        // Show the modal
        var modal = document.getElementById("roomModal");
        modal.style.display = "block";

        // Set the close button functionality
        var closeButton = document.getElementsByClassName("close")[0];
        closeButton.onclick = function () {
            modal.style.display = "none";
        };

        // Close the modal when clicking outside of it
        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        };
    }

    ///////////////////////////////
    /*
    Ajax Functions

    */
    ///////////////////////////////


    //function setExampleInputAJAX() {
    //    // Get the current sensor number

    //    $.ajax({
    //        url: '/Index/OnGetSpecificRoomState2',
    //        data: { exampleinput: document.getElementById("exampleInput").value },
    //        dataType: 'json',
    //        success: function (data) {
    //            console.log(data);
    //        },
    //        error: function (errorThrown) {
    //            console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
    //        }
    //    });
    //}

    function ExampleFunctionForAJAX() {
        // Get the current sensor number

        $.ajax({
            url: '/Index/OnGetSpecificRoomState2',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
            }
        });
    }

    function AttemptGetRoomState() {
        $(document).ready(function () {
            $.ajax({
                url: "/Index/AttemptGetRoomState",
                dataType: "json",
                success: function (data) {
                    // process the response
                    console.log(data);
                },
                error: function (errorThrown) {
                    console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
                }
            });
        });
    }
    
    function AttemptGetSupervisor() {
        $(document).ready(function () {
            $.ajax({
                url: "/Index/OnAttemptGetSupervisor",
                dataType: "json",
                success: function (data) {
                    // process the response
                    
                    console.log(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("An error occurred while making the request: " + textStatus + " - " + errorThrown);
                }
            });
        });
    }
    document.addEventListener("DOMContentLoaded", AttemptGetSupervisor);
    function AttemptGetOnCall() {
        $(document).ready(function () {
            $.ajax({
                url: "/Index/AttemptGetOnCall",
                dataType: "json",
                success: function (data) {
                    // process the response
                    console.log(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("An error occurred while making the request: " + textStatus + " - " + errorThrown);
                }
            });
        });
    }

    function AttemptGetPasswordAJAX() {
        // This is the function that should happen on page submit
        $.ajax({
            url: '/Index/OnAttemptGetPassword',
            dataType: 'json',

            success: function (data) {
                console.log(data);
                // if data is true return change page to index else remain on current page
                if (data == true) {
                    // navigate to the home page on success
                    //console.log(document.getElementById("link").getAttribute('href'));
                    //window.location.href = document.getElementById("link").getAttribute('href');
                } else {

                }
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
            }
        });
    }
    document.addEventListener("DOMContentLoaded", AttemptGetPasswordAJAX);

</script>