@page "/Index"
@model Index
@{
    ViewData["Title"] = "Home page";
}

<script src="~/js/Index.js"></script>
<link rel="stylesheet" href="~/css/Index.css" />


<div class="modal" tabindex="-1" role="dialog" id="roomModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Room Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="roomDetails"></p>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<div class="w-100">
    <div class="d-flex flex-column justify-content-between align-items-stretch h-100 home">
        <div class="row flex-grow-1">
            <div class="col-md-4 d-flex flex-column">
                <h3 class="text-center">Room Statuses</h3>
                <div id="roomStatuses" class="row"></div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Clock-in Status</h3>
                    <button onclick="clockInClick(1)" class="w-100">Clock In</button>
                    <button onclick="clockInClick(2)" class="w-100">Clock Out</button>
                    <p id="clockedInText"></p>
                </div>
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Notification</h3>
                    <br>
                    <p id="alarm-notification">Alarms active in rooms:</p>
                    <p id="sensor-notification">Sensors active in rooms:</p>
                    <p id="direction-notification">Direction Indicator active in rooms:</p>
                    <p id="sprinkler-notification">Sprinklers active in rooms:</p>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Other Information</h3>
                    <br>
                    <p id="supervisor">On-duty Supervisor: </p>
                    <p id="onCallOp">On-call Operator: </p>
                </div>
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Building Control System</h3>
                    <button onclick="policeClick()" class="custom-btn w-75">Call Police</button>
                    <button onclick="fireDepartmentClick()" class="custom-btn w-75">Call Fire Department</button>
                    <button onclick="alert('The Chemical department has been called')" class="custom-btn w-75">Call Chemical Department</button>
                    <button onclick="soundAlarmClick()" class="custom-btn w-75">Sound Alarm & Evacuate Site</button>
                </div>
            </div>
        </div>
    </div>
</div>