@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w-100">
    <div class="d-flex flex-column justify-content-between align-items-stretch h-100 home">
        <div class="row flex-grow-1">
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12">First column, first row</div>
                <div class="col-12">First column, second row</div>
                <div class="col-12">First column, third row</div>
                <div class="col-12">First column, fourth row</div>
                <div class="col-12">First column, fifth row</div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12">Second column, first row</div>
                <div class="col-12">Second column, second row</div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12">Third column, first row</div>
                <div class="col-12">Third column, second row</div>
            </div>
        </div>
    </div>
</div>
