@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="w-100">
    <div class="d-flex flex-column justify-content-between align-items-stretch h-100 home">
        <div class="row flex-grow-1">
            <div class="col-md-4 d-flex flex-column justify-content-between align-items-center">
                <h3>Camera Statuses</h3>
                <div class="col-12 text-center">
                    <button>
                        <p>Camera 1 Powered:</p>
                        <p>Camera 1 Alarm:</p>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <button>
                        <p>Camera 2 Powered:</p>
                        <p>Camera 2 Alarm:</p>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <button>
                        <p>Camera 3 Powered:</p>
                        <p>Camera 3 Alarm:</p>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <button>
                        <p>Camera 4 Powered:</p>
                        <p>Camera 4 Alarm:</p>
                    </button>
                </div>
                <div class="col-12 text-center">
                    <button>
                        <p>Camera 5 Powered:</p>
                        <p>Camera 5 Alarm:</p>
                    </button>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Clock-in Status</h3>
                    <button class="w-100">Clock In</button>
                </div>
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Notification</h3>
                    </br>
                    <p>This is a notification.</p>
                </div>
            </div>
            <div class="col-md-4 d-flex flex-column justify-content-between">
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Other Information</h3>
                    </br>
                    <p>On-duty Supervisor:</p>
                    <p>On-call Operator:</p>
                </div>
                <div class="col-12 flex-grow-1 text-center">
                    <h3>Building Control System</h3>
                    <button class="custom-btn w-75">Call Emergency Services</button>
                    <button class="custom-btn w-75">Disable Alarm</button>
                    
                    <button class="custom-btn w-50">More Options</button>
                </div>
            </div>
        </div>
    </div>
</div>
