@* This page handles all login processes *@
@page "/"
@model Login
@{
    ViewData["Title"] = "Login Page";
    ViewData["showNav"] = false;
}

<div class="border p-4">
    <form class="form-signin">
        <div class="alert alert-danger" role="alert" id="loginError" style="display:none;">Invalid email or password</div>
        <a id="link" asp-page="/Index"></a>
        <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="AttemptLoginAJAX()">Sign in</button>
    </form>
</div>

<script>
function AttemptLoginAJAX() {
    // When the sign is clicked an ajax call to the backend is performed comparing the user passwords
    $.ajax({
        url: '/Login/OnAttemptLoginAJAX',
        dataType: 'json',
        @* Send in the user password and email *@
        data: {
            email: document.getElementById("inputEmail").value,
            password: document.getElementById("inputPassword").value,
        },
        success: function (data) {
            // if data is true return change page to index else remain on current page
            if(data == true) {
                // navigate to the home page on success
                window.location.href = document.getElementById("link").getAttribute('href');
            } else {
                @* display the login error *@
                document.getElementById("loginError").style.display = "block";
            }
        },
        error: function (errorThrown) {
            console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
        }
    });
}
</script>