@page "/"
@model Login
@{
    ViewData["Title"] = "Login Page";
    ViewData["showNav"] = false;
}

<div class="border p-4">
    <form class="form-signin">
        <p>This is a test to check if control center varables stay alive, being user password::</p>
        <p id="test1"></p>
        <div class="alert alert-danger" role="alert" id="loginError" style="display:none;">Invalid email or password</div>
        <a id="link" asp-page="/Index"></a>
        <h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="AttemptLoginAJAX()">Sign in</button>
    </form>
</div>

<script>
    ///////////////////////////////
    /*
    Ajax Functions

    */
    ///////////////////////////////

    function ExampleFunctionForAJAX() {
        // Get the current sensor number

        $.ajax({
            url: '/Index/OnGetSpecificRoomState2',
            dataType: 'json',
            success: function (data) {
                console.log(data);
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
            }
        });
    }



    function AttemptLoginAJAX() {
        // This is the function that should happen on page submit
        $.ajax({
            url: '/Login/OnAttemptLoginAJAX',
            dataType: 'json',
            data: {
                email: document.getElementById("inputEmail").value,
                password: document.getElementById("inputPassword").value,
            },
            success: function (data) {
                console.log(data);
                // if data is true return change page to index else remain on current page
                AttemptGetPasswordAJAX()
                if(data == true) {
                    // navigate to the home page on success
                    //console.log(document.getElementById("link").getAttribute('href'));
                    window.location.href = document.getElementById("link").getAttribute('href');
                } else {
                    document.querySelector("h1").style.display = "block";
                    document.getElementById("loginError").style.display = "block";
                }
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
            }
        });
    }


    function AttemptGetPasswordAJAX() {
        // This is the function that should happen on page submit
        $.ajax({
            url: '/Login/OnAttemptGetPassword',
            dataType: 'json',
        
            success: function (data) {
                console.log(data);
                // if data is true return change page to index else remain on current page
                document.getElementById("test1").innerHTML = data;
                if (data == true) {
                    // navigate to the home page on success
                    //console.log(document.getElementById("link").getAttribute('href'));
                    //window.location.href = document.getElementById("link").getAttribute('href');
                } else {

                }
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
            }
        });
    }
    document.addEventListener("DOMContentLoaded", AttemptGetPasswordAJAX);

</script>