@page
@model PromoteUser
@{
    ViewData["Title"] = "Promote User Page";
}

<div class="border p-4">
    <form class="form-signin">
        <p>This is a test to check if control center varables stay alive, being user password::</p>
        <p id="test1"></p>
        <label for="user">Choose a user:</label>
        <select class="form-select" name="user" id="users">
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="AttemptPromoteUserAJAX()">Promote User</button>
    </form>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        AttemptAddUsersToDropdownAJAX()
    })
    function AttemptPromoteUserAJAX() {
        // This is the function that should happen on page submit
        // I wonder if this should allow a user to be demoted
        $.ajax({
            url: '/PromoteUser/OnAttemptPromoteUserAJAX',
            dataType: 'json',
            data: {
                user: document.getElementById("users").value,
            },
            success: function (data) {
                console.log(data);
                
                if (data == true) {
               
                } else {

                }
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for AttemptPromoteUserAJAX:", errorThrown);
            }
        });
    }
    function AttemptAddUsersToDropdownAJAX(){
        
        $.ajax({
            url: '/PromoteUser/OnAttemptAddUsersToDropdownAJAX',
            dataType: 'json',
            success: function (data) {
                var userSelector = document.getElementById("users");
                //Push the users to the selector
                data.forEach(function(USER){
                    var user = document.createElement("option")
                    user.value = USER;
                    user.text = USER;
                    userSelector.appendChild(user);
                })
                if (data == true) {

                } else {

                }
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for AttemptAddUsersToDropdownAJAX:", errorThrown);
            }
        });
    }

      function AttemptGetPasswordAJAX() {
        // This is the function that should happen on page submit
        $.ajax({
            url: '/PromoteUser/OnAttemptGetPassword',
            dataType: 'json',

            success: function (data) {
                console.log(data);
                // if data is true return change page to index else remain on current page
                document.getElementById("test1").innerHTML = data;
                if (data == true) {
                    // navigate to the home page on success
                    //console.log(document.getElementById("link").getAttribute('href'));
                    //window.location.href = document.getElementById("link").getAttribute('href');
                } else {

                }
            },
            error: function (errorThrown) {
                console.log("An Error occured in the ajax request for activateOrDeactivateSensorsAJAX:", errorThrown);
            }
        });
    }
    document.addEventListener("DOMContentLoaded",AttemptGetPasswordAJAX);

</script>