@* This is the promote user admin page *@
@page
@model PromoteUser
@{
    ViewData["Title"] = "Promote User Page";
}

<div class="border p-4">
    <form class="form-signin">
        <div class="alert alert-danger" role="alert" id="promoteUserError" style="display:none;">User promotion failed. Try again.</div>
        <div class="alert alert-success" role="alert" id="promoteUserWorked" style="display:none;">User promoted.</div>
        <label for="user">Choose a user:</label>
        <select class="form-select" name="user" id="users">
        </select>
        <button class="btn btn-lg btn-primary btn-block" type="button" onclick="AttemptPromoteUserAJAX()">Promote User</button>
    </form>
</div>
<script>
@* Attempt to add users to dropdown is called on page load to fill in the dropdown *@
document.addEventListener("DOMContentLoaded", function () {
    AttemptAddUsersToDropdownAJAX()
})

function AttemptPromoteUserAJAX() {
    // This is the function that should happen on page submit
    @* this allows the user to become promoted and sends a backend request *@
    $.ajax({
        url: '/PromoteUser/OnAttemptPromoteUserAJAX',
        dataType: 'json',
        @* Send the user to the backend *@
        data: {
            user: document.getElementById("users").value,
        },
        success: function (data) {
            if (data == true) {
                document.getElementById("promoteUserWorked").style.display = "block"
            } else {
                document.getElementById("promoteUserError").style.display = "block"
            }
        },
        error: function (errorThrown) {
            console.log("An Error occured in the ajax request for AttemptPromoteUserAJAX:", errorThrown);
        }
    });
}

function AttemptAddUsersToDropdownAJAX(){
    @* This signals the backend the get all users from the backend for the dropdown *@
    $.ajax({
        url: '/PromoteUser/OnAttemptAddUsersToDropdownAJAX',
        dataType: 'json',
        success: function (data) {
            var userSelector = document.getElementById("users");
            //Push the users to the selector
            data.forEach(function(USER){
                var user = document.createElement("option")
                user.value = USER;
                user.text = USER;
                userSelector.appendChild(user);
            })
        },
        error: function (errorThrown) {
            console.log("An Error occured in the ajax request for AttemptAddUsersToDropdownAJAX:", errorThrown);
        }
    });
}
</script>