@page
@model PromoteUserModel
@{
    ViewData["Title"] = "Promote User Page";
}

<div class="text-center">
    <h1 class="display-3">PromoteUser</h1>
    <p>This is the Promote User View Page.</p>
</div>
