html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main .home {
    margin: 10px;
    min-height: 80vh;
    padding: 2em;
}

footer {
    min-height: 10vh;
}

header {
    min-height: 10vh;
}
